table th .columntitle {
		display: inline-block !important;
}


td.display {
		text-align: center;
}

input.edittag {
		line-height: 1.5;
		padding: 2px 0px 4px 5px;
		position: relative;
		width: 400px;
		margin-top: 8px;
}

.meta_data {
  margin-left:20px;
}

.color-box {
		width: 20px;
		height: 20px;
		display: inline-block;
		position: relative;
		line-height:1.5;
		left: 5px;
		top: 5px;
		border-radius: 2px;
		/*Sorry Ashoka - I prefer the sharp edges... /F*/
		/*border-radius: 50%;*/
		cursor: pointer;
}

.border {
		border-style: solid;
		border-width: 2px;
		border-color: #444;
}

.color-1 {
		background-color: #777 ;
}

.color-2 {
		background-color: #337ab7 ;
}

.color-3 {
		background-color: #5cb85c ;
}

.color-4 {
		background-color: #5bc0de ;
}

.color-5 {
		background-color: #f0ad4e ;
}

.color-6 {
		background-color: #d9534f ;
}

.notitle .ui-dialog-titlebar {
	display:none
}

div#meta_data_container {
   /*max-height: 85%;
   overflow-y: auto;*/
   overflow-y: hidden;
}

div#emptysearch {
		font-size: x-large;
		color: #ddd;
		text-align: center;
		margin-top: 0;
		margin-bottom: 16px;
}

input.edit {
  width: 25% !important;
}


span.keyname {
  text-align: left;
  display: inline-block;
  width: 128px;
}

.oc-dialog input.value{
  width:70%;
  margin-left: 10px;
}

.oc-dialog select.value{
  margin-left: 10px;
}

span.deletekey {
  cursor: pointer;
}

#meta_data_keys .new .highlight {
	border: 1px solid #f7941e;
}

.taginfo .label {
	line-height: 0.8;
	/*Sorry Ashoka - I prefer the sharp edges... /F*/
    /*border-radius: 15px;*/
}

.taginfo  {
	line-height: 1.2;
}

#tagid .oc-dialog-title{
	margin-top: 0px;
	margin-bottom: 16px;
}

.oc-dialog input.edittag {
	width: 90%;
}

.tagdesc * {
    vertical-align: top;
}

.oc-dialog textarea.editdesc {
	width: 90%;
	height: 68px;
}

#fileList tr td.filename.meta_data_row {
	height: 32px;
	padding: 2px 0 7px 12px;
}

#app-content-meta_data #headerName.column-name {
	padding-left: 12px;
}

.editstuff {
	line-height: 27px;
}

#filestable tbody tr td {
	margin-left: 10px;
}

tr.summary td span.info {
	margin-left: 4px;
}

tr.summary td.filesize {
	text-align: center;
}

#filestable .color-box:not(.border) {
	display: none;
}

a.color {
	width: 168px;
}

#newtag {
	border:solid 1px #e4e4e4;
	margin-bottom:20px;
	height:55px;
	display:none;
}

.newtag-buttons {
	float: right;
	margin-right: 10px;
	line-height: 50px;
}

.newtag-edit {
	margin-left: 10px;
	line-height: 54px;
}

.tags-space:first-of-type {
	line-height: 1.8;
}

.tags-space {
	line-height: 0;
}

a.less-tags {
	color:#c5c5c5;
	font-size:12px;
	background-image:none;
	text-decoration: none;
}

span[data-tag]{
	line-height: 2px;
}

span[data-tag]:last-of-type{
	margin-bottom: 8px;
}

.editor_buttons {
	text-align: right;
}

.schema_editor_buttons {
	position:relative;
	float:right;
}

#filestable tr.shared_tag {
	background-color:#EFF8FB;
}

#filestable tr.tag_separator td {
	text-align:center;
	font-weight:bold;
	background-color:#fafafa;
	padding:12px;
}
.tipsy-inner {
  background-color: white;
  color: black;
  border:1px solid #c5c5c5;
  border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px;
  white-space:pre-wrap;
  text-align: left;
}
.tipsy-arrow {
	display: none;
}

.selectedActions #dropdown{
	margin-top:10px;
}

.ui-widget-content {
	padding: 0;
}

.ui-dialog-buttonpane {
	padding: 0;
}

.oc-dialog-title {
	margin-top: 28px;
	margin-bottom: 18px;
	background: none repeat scroll 0 0;
}


.oc-dialog input.controlled_values {
	width: 460px;
}

#app-content-meta_data table th#headerSize, #app-content-meta_data table th#headerDisplay {
    text-align: center;
}

#app-content-meta_data table th#headerPublic a {
	padding-left: 11px;
}

#app-content-meta_data table th#headerSize a {
	padding-right: 3px;
}

#app-content-meta_data table th#headerSize input#checkAllServers {
	margin: 0;
}
